@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}

.container {
    height: 450px;
    width: 285px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    font-family: "Outfit", sans-serif;
}

img {
    width: 100%;
    height:min-content;
    border-radius: 15px;
    margin-bottom: 10px;
}

h3 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

p {
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

h3,
p {
    margin: 15px 8px;
}
